@import '../../../../variables'


.landing-page-slide-two-cards
  display: flex
  flex-direction: column
  gap: 2rem
.card-inversed-text
  text-align: right
.landing-page-slide-two-card
  display: flex
  background: $dark-color
  padding: 1rem
  color: $light-color
  box-shadow: $box-shadow
  border-radius: 10px
  justify-content: center
  align-items: center

.card-right-img
  max-width: 600px
  border-radius: 10px

@media screen and (max-width: 1100px)
  .landing-page-slide-two-card
    flex-direction: column
    gap: 1rem
    padding: 1rem
    //text-align: justify
    .card-inversed-text
      text-align: justify
    .card-right-img
      max-width: 100%
      margin: 1rem 0 0 0