@import "../../variables"

.challenge-description-card
  width: 100%
  height: 100%
  padding: 1rem
  background: $dark-color
  color: $light-color
  border-radius: 10px
  h2
    margin: 0
    text-decoration: none !important

.challenge-meta-card
  padding: .5rem .5rem 0 .5rem
  display: flex
  align-items: center
  width: 100%
  justify-content: center
  gap: 1rem

.challenge-card
  min-width: 500px
  max-width: 500px
  text-align: center
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  gap: 2rem
  background: $white
  border-radius: 10px
  box-shadow: $box-shadow

.challenge-card-small
  background: $light-color
  color: $text-color
  padding: .2rem
  border-radius: 10px
  box-shadow: $box-shadow
  transition: all .15s
  &:hover, &:focus
    transform: scale(1.1)
    animation: all .15s
    color: $light-color
    background: $dark-color

.selected-challenge
  color: $light-color
  background: $dark-color

.assignment-meta
  line-height: 1px

.assignment-metas
  display: flex
  gap: 1rem
  justify-content: center
  align-items: center

.challenge-card-small-profile
  padding: .5rem

.challenge-card-home-page
  height: 500px
  .challenge-description-card
    overflow: auto
