@import '../../variables'

.input
  transition: all .15s ease-in-out
  background: $light-color
  font-family: $body-font
  padding: .5rem
  border: 1px solid $dark-color
  color: $dark-color
  &:focus, &:hover
    background: $dark-color
    color: $light-color
    transition: all .15s ease-in-out

.text-area-input
  resize: none
  overflow: auto
  max-width: 100%

.checkbox-input
  display: flex
  gap: .5rem
  align-items: center
  justify-content: center
  margin: 2rem 0
