@import '../../../variables'

.submissions-assignment-page
  margin-top: 3rem
  display: flex
  gap: 1rem
  flex-wrap: wrap

.submission-footer
  background: $dark-color
  padding: .5rem
  width: 100%
  text-align: center
.grade-wrapper
  display: flex
  gap: 1rem
  justify-content: center
  align-items: center

.submission
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
