@import '../../variables'

.language-picker-extension
  position: absolute
  left: 50%
  top: 50%
  text-align: center
  //z-index: 100

.language-picker-option
  background: $dark-color
  color: $light-color
  display: flex
  gap: .5rem
  border: 1px solid $dark-color
  padding: .2rem
  img
    max-width: 60px
    border-radius: 50%
.light-colored
  background: $light-color
  color: $dark-color
