@import '../../../variables'

.assignments-page
  margin-top: 2rem
  display: flex
  gap: .5rem
  justify-content: center
  align-items: stretch
  flex-wrap: wrap

.expanded-challenge-card
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

.expanded-challenge-card-header
  background: $dark-color
  color: $light-color
  width: 100%
  text-align: center
  border-radius: 10px 10px 0 0

@media screen and (max-width: 1100px)
  .assignments-page
    flex-direction: column
    gap: 1rem