@import '../../variables'

.lighthouse-card
  width: fit-content
  padding: 1rem
  border-radius: 10px
  box-shadow: $box-shadow
  background: $white
  position: relative
  h2
    margin: 0
  &:after
    content: ''
    background: $dark-color
    height: 10px
    width: 100%
    border-radius: 0 0 10px 10px
    position: absolute
    left: 0
    bottom: 0
  transition: all .15s
  &:focus, &:hover
    transform: scale(1.1)
    transition: all .15s
    background: $dark-color
    color: $light-color
