@import "../../variables"

.landing-page-navigation
  display: flex
  justify-content: center
  align-items: center
  height: 100%
  color: $light-color
  .navigation-wrapper
    list-style-type: none
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    gap: 10px
