@import "../../variables"

.code-page
  margin-top: 2rem
  display: flex
  gap: 1rem
  justify-content: center
  align-items: center
.code-page-text
  max-height: 1000px
  overflow: auto
  width: 50%
  text-align: left
.code-page-editor
  //max-width: 1000p



.editor-wrapper
  width: 600px
  height: 300px

.editor-wrapper-header
  background: $dark-color
  padding: .3rem
  border-radius: 10px 10px 0 0

