@import '../../variables'

.leaderboard-place
  background: $dark-color
  color: $light-color
  padding: .5rem
  border-radius: 10px
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  width: 300px
.second-place
  margin-top: 1.5rem
.third-place
  margin-top: 2.5rem

.leaderboard-podium
  margin-top: 1rem
  display: flex
  gap: 1rem
  justify-content: center
  align-items: center

.high-place
  background: $light-color !important
  color: $dark-color !important


.leaderboard-non-podium
  display: flex
  flex-wrap: wrap
  gap: .5rem
  justify-content: center
  align-items: center
  margin-top: 3rem

.leaderboard-non-podium-place
  background: $dark-color
  padding: .5rem
  border-radius: 10px
  color: $light-color
  display: flex
  gap: .5rem
  justify-content: center
  align-items: center