@import '../../variables'

.button
  background: transparent
  border-top: 1ps solid $dark-color
  padding: .5rem
  font-family: $body-font
  position: relative
  color: $light-color
  border-radius: 10px
  &:before
    content: ''
    height: 100%
    width: 100%
    background: $dark-color
    position: absolute
    left: 0
    top: 0
    z-index: -1
    transition: all .15s ease-in-out
  &:hover:before, &:focus:before
    width: 5px
    transition: all .15s ease-in-out
    z-index: -1
  &:hover, &:focus
    color: $text-color

.plus-button
  max-width: 80px
  position: fixed
  right: 10px
  bottom: 10px
  transition: all .15s
  z-index: 1
  &:focus, &:hover
    transition: all .15s
    transform: scale(1.1)