@import '../../variables'

.challenges-high
  display: flex
  flex-wrap: wrap
  justify-content: center
  align-items: center
  gap: .5rem
  background: $dark-color

.challenge-high
  //background: $dark-color
  padding: 1rem
  color: $light-color
  text-align: center
  border-radius: 10px
  background: rgba(255, 255, 255, 0.18)
  //border-radius: 16px
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1)
  backdrop-filter: blur(2.6px)
  -webkit-backdrop-filter: blur(2.6px)
  border: 1px solid rgba(255, 255, 255, 0.47)