@import '../../variables'

.error-wrapper
  box-shadow: $box-shadow
  max-width: 80vw
  background: $dark-color
  color: $light-color
  border-radius: 10px
  //position: fixed
  //left: 50%
  //top: 10px
  max-height: calc(100dvh - 20px)
  overflow: auto
  //transform: translate(-50%)
  //z-index: 11
  text-align: center


.error-header
  display: flex
  gap: .5rem
  justify-content: center
  align-items: center
  img
    max-width: 80px
  h2
    margin: 0
  border-radius: 10px 10px 0 0
  padding: 1.5rem
  background: $light-color
  color: $text-color

.error-content
  padding: 1rem
  font-weight: 300
.error-message
  font-weight: 500
.modal-buttons
  display: flex
  justify-content: center
  align-items: center
  gap: .5rem

.enroll-inputs
  display: flex
  flex-direction: column
  gap: .2rem
  justify-content: center
  align-items: center
.success-wrapper
  max-width: fit-content
  width: fit-content
.assignment-inputs-due
  display: flex
  gap: .5rem

.super-success
  z-index: 15

.modal-header-img
  animation-name: pop-up
  animation-delay: .5s
  animation-duration: .3s
  animation-fill-mode: forwards
  opacity: 0
  transform: scale(0)





.code-editor-icon
  transition: all .15s
  &:hover, &:focus
    transform: scale(1.1)
    transition: all .15s

@media screen and (max-width: 1100px)
  .error-wrapper
    max-width: 90vw
    width: 90vw

@media screen and (min-width: 3000px)
  .error-wrapper
    max-width: 40vw