@import '../../variables'

.error-wrapper
  box-shadow: $box-shadow
  max-width: 40vw
  background: $dark-color
  color: $light-color
  border-radius: 10px
  //position: fixed
  //left: 50%
  //top: 10px
  max-height: 100%
  overflow: auto
  //transform: translate(-50%)
  //z-index: 11
  text-align: center
.error-header
  display: flex
  gap: 1rem
  justify-content: center
  align-items: center
  img
    max-width: 80px
  h2
    margin: 0
  border-radius: 10px 10px 0 0
  padding: 1.5rem
  background: $light-color
  color: $text-color

.error-content
  padding: .5rem
  font-weight: 300
.error-message
  font-weight: 500
.modal-buttons
  display: flex
  justify-content: center
  align-items: center
  gap: .5rem

.enroll-inputs
  display: flex
  flex-direction: column
  gap: .2rem
  justify-content: center
  align-items: center
.success-wrapper
  max-width: fit-content
  width: fit-content
.assignment-inputs-due
  display: flex
  gap: .5rem

.create-challenge-wrapper
  max-width: 90%
  width: 90%
  height: fit-content
.super-success
  z-index: 15


.big-editor
  position: absolute
  left: 50%
  top: 50%
  width: 70% !important
  height: 70% !important
  transform: translate(-50%, -50%)
  z-index: 11


.code-editor-icon
  transition: all .15s
  &:hover, &:focus
    transform: scale(1.1)
    transition: all .15s