@import '../../variables'

.slide
  position: relative
.features
  //width: 95%
  margin: 0 auto
  margin-top: 3rem

.slide-hero
  width: 80%
  margin: 0 auto
//justify-content: center
.about, .inputs, .about-inner
  margin-top: 3rem

.slide-hero-login, .slide-hero-features, .slide-hero-home, .about-inner
  justify-content: center

.slide:before
  content: ''
  background: $dark-color
  position: absolute
  left: 0
  top: 0
  height: 100%
  width: 10px


@media screen and (min-width: 2000px)
  .slide-hero
    width: 50%

@media screen and (min-width: 3000px)
  .slide-hero
    width: 40%