@import '../../variables'

.slide
  position: relative
.features
  width: 95%
  margin: 0 auto
  margin-top: 3rem

.about-inner, .inputs
  width: 80%
  margin: 0 auto
.about, .inputs
  margin-top: 3rem

.slide:before
  content: ''
  background: $dark-color
  position: absolute
  left: 0
  top: 0
  height: 100%
  width: 10px

.landing-page-navigation
  display: flex
  justify-content: center
  align-items: center
  height: 100%
  color: $light-color
  .navigation-wrapper
    list-style-type: none
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    gap: 10px



@media screen and (min-width: 2000px)
  .features, .about, .inputs
    width: 50%

@media screen and (min-width: 3000px)
  .features, .about, .inputs
    width: 40%