@import '../../variables'

.challenge-page
  margin-top: 1rem
  margin-bottom: calc($fixed-height + 3rem) // 135px is the height of the bottom-fixed challenge-meta

.challenge-page-meta
  display: flex
  justify-content: center
  align-items: center
  gap: 1rem
  width: 100%

.challenge-page-content
  text-align: center

.challenge-page-language
  display: flex
  justify-content: center
  align-items: center
  gap: .5rem


.challenge-top-section
  display: flex
  justify-content: center
  align-items: center
  gap: .5rem