@import "../../variables"

.submission-editor-header
  display: flex
  gap: 1rem
  text-align: center
  justify-content: center

.submission-header
  display: flex
  flex-direction: column
  gap: .5rem
  color: $light-color
  p
    margin: 0

.editor-wrapper
  width: 100%
  //height: 200px

.editor-wrapper-header
  background: $dark-color
  padding: .3rem
  border-radius: 10px 10px 0 0