@import "../../variables"

.submission-editor-header
  display: flex
  gap: 1rem
  text-align: center
  justify-content: center

.submission-header
  display: flex
  flex-direction: column
  gap: .5rem
  color: $light-color
  p
    margin: 0