@import '../../variables'

.language-picker
  position: relative
  display: flex
  //justify-content: center
  //align-items: center
.language-picker-option
  background: $dark-color
  color: $light-color
  display: flex
  gap: .5rem
  justify-content: space-between
  align-items: center
  border: 1px solid $dark-color
  padding: .2rem
  img
    max-width: 60px
    border-radius: 50%