@import '../../variables'

.language-picker
  position: relative
  display: flex
  //justify-content: center
  //align-items: center
.language-picker-option
  display: flex
  gap: .5rem
  justify-content: center
  align-items: center
  border: 1px solid $dark-color
  width: fit-content
  padding: .2rem
  img
    max-width: 60px
    border-radius: 50%