@import '../../variables'


.selected-files
  display: flex
  gap: .3rem
  justify-content: center
  align-items: stretch
  max-width: 100%
  overflow: auto
  margin-top: .5rem

.icon-file
  //width: 100%
  max-width: 80px