@import '../../../variables'

.pop-up-modal
  background: $success-color
  border: rgba(0, 128, 0, 0.5) double 10px
  border-radius: 10px
  padding: .5rem
  z-index: 1000
  //position: fixed
  //bottom: 10px
  //left: 50%
  color: $whitesmoke
  //transform: translateX(-50%)
  p
    margin: 0