@import "../../variables"

.challenge-picker
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  gap: .5rem
.challenges-picker
  display: flex
  justify-content: center
  align-items: stretch
  gap: .5rem
  flex-wrap: wrap

.challenge-picker-input
  display: flex
  gap: .5rem
  justify-content: center
  align-items: center
