@import "../../../variables"

//.side-panel
//  position: fixed
//  right: 0
//  top: 10px
//  height: calc(100dvh - 20px)
//  width: 26%
//  z-index: 11
//  color: $light-color
//  background: $dark-color


.side-panel-header
  background: $light-color
  color: $text-color
  display: flex
  justify-content: center
  align-items: center
  padding: 1rem
  h2
    margin: 0
    padding: 1rem
    display: flex
    justify-content: center
    align-items: center

.side-panel-content
  display: flex
  justify-content: center
  align-items: center
  padding: 1rem
  flex-direction: column

.side-panel-search
  display: flex
  gap: .5rem

.side-panel-people
  margin-top: 1rem
  display: flex
  flex-direction: column
  gap: .5rem
  p
    margin: 0

.side-panel-helpers
  margin-top: .5rem
  display: flex
  gap:  .5rem

.person-selected
  background: $light-color
  color: $text-color
  border-radius: 5px
  padding: .5rem
  transition: all .15s
  &:hover, &:focus
    transform: scale(1.1)

.person
  transition: all .15s
  padding: .5rem