@import '../../../variables'

.slide-aside
  //padding: 1rem
  background: radial-gradient(circle at 50%, rgba(0,0,0,0), rgba(0,0,0,.8)), url("../../../utils/imgs/landing-page/Header.jpg")
  background-position: center
  background-size: cover

.landing-page-navigation
  position: relative
  //background: red
.landing-page-menu-item
  text-align: center
  padding: .5rem
  font-weight: bold
  background: rgba(255, 255, 255, 0.18)
  //border-radius: 16px
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1)
  backdrop-filter: blur(2.6px)
  -webkit-backdrop-filter: blur(2.6px)
  border: 1px solid rgba(255, 255, 255, 0.47)
// From https://css.glass


.landing-page-navigation
  display: flex
  justify-content: center
  align-items: center
  height: 100%
  color: $light-color
  .navigation-wrapper
    padding: 0
    width: 100%
    list-style-type: none
    display: flex
    flex-direction: column
    justify-content: center
    //align-items: center
    gap: 10px

@media screen and (max-width: 1100px)
  .slide-aside
    box-shadow: $box-shadow
    position: fixed
    bottom: 0
    left: 0
    width: 100%
  .navigation-wrapper
    flex-direction: row !important
    gap: 1rem !important