@import '../../../variables'

.announcement-meta
  display: flex
  gap: 1rem
  justify-content: center
  align-items: center
.announcement
  //width: 500px
  max-width: 100%
  background: $white
  box-shadow: $box-shadow
  padding: 1rem
  border-radius: 10px
  text-align: center
.announcement-content
