@import "../../variables"

.slide
  min-height: 100vh
  display: grid
  grid-template-columns: 4fr 1fr

.slide-hero
  display: flex
  //justify-content: center
  align-items: center
  flex-direction: column
  max-height: 89vh
  scrollbar-width: none
  -ms-overflow-style: none
  overflow-y: auto
  .title
    margin: 0
.slide-hero::-webkit-scrollbar
  display: none  /* Safari and Chrome */


.logo-header
  max-width: 400px
