@import "../../variables"

.app-navigation-wrapper
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  background: $white
.app-navigation
  overflow-x: auto
  width: 100dvw
  margin: 0
  padding: 1rem
  //color: $light-color
  box-shadow: $box-shadow
  list-style-type: none
  display: flex
  justify-content: center
  align-items: center
  gap: 1rem
  //background: $white

.menu-item
  display: flex
  justify-content: center
  align-items: center
  gap: .2rem

.logo-header-app-nav
  max-width: 200px