@import '../../../variables'


.landing-page-header
  background: linear-gradient(to right, $light-color-gradient, rgba(0,0,0,0), $dark-color-gradient)

.landing-subtitle
  margin: 2rem 0 0 0
  font-size: 3rem