@import '../../variables'

.challenge-meta-bottom
  background: $dark-color
  width: 100%
  height: 135px
  position: fixed
  bottom: 0
  color: $light-color
  display: flex
  justify-content: center
  align-items: center
  gap: .5rem
.challenge-meta-left
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  gap: .5rem
  p
    margin: 0
    font-weight: 300
.solved
  background: $light-color
  color: $dark-color
.question-svg
  width: 65px