@import '../../variables'

.challenge-meta-bottom
  //display: none !important
  width: 100%
  //overflow: auto
  background: $dark-color
  height: $fixed-height
  position: fixed
  bottom: 0
  color: $light-color
  display: flex
  justify-content: center
  align-items: center
  gap: .5rem
  flex-wrap: wrap
  word-break: break-word
.challenge-meta-left
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  gap: .5rem
  p
    margin: 0
    font-weight: 300

.bar-item-dark-small
  background: $dark-color
  color: $light-color
  padding: .5rem
  border-radius: 10px
  text-align: center
  transition: all .15s
  &:hover, &:focus
    transform: scale(1.1)
    transition: all .15s
  p
    margin: 0

.bar-item, .bar-item-dark
  background: $light-color
  padding: .5rem
  border-radius: 10px
  color: $dark-color
  text-align: center
  transition: all .15s
  &:hover, &:focus
    transform: scale(1.1)
    transition: all .15s

.bar-item-dark
  background: $dark-color
  color: $light-color

.solved
  background: $light-color
  color: $dark-color
.question-svg
  width: 65px