@import '../../variables'


.assignment
  width: 100%
  background: $light-color

.expanded-challenge-card
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

.expanded-challenge-card-header
  p
    margin: 0
  background: $dark-color
  color: $light-color
  width: 100%
  text-align: center
  border-radius: 10px 10px 0 0