@import '../../variables'

.difficulty-picker
  display: flex
  justify-content: center
  align-items: center
  gap: 1rem
  flex-wrap: wrap
  flex-grow: 1

.difficulty
  img
    max-width: 110px
    border-radius: 50%
    transition: all .15s
    border: 2px solid $dark-color
    &:hover, &:focus
      transform: scale(1.1)
      transition: all .15s