@import "../../variables"

.random-challenge
  text-align: center
  display: flex
  justify-content: center
  align-items: center
  gap: 2rem
  background: $white
  border-radius: 10px
.app-home
  margin-top: 2rem
.challenge-description
  //max-width: 500px
  //overflow: auto
  background: $dark-color
  color: $light-color
  border-radius: 10px
  padding: 1rem
  max-height: 400px
  overflow-y: auto

.challenge-meta
  padding: 0 0 0 2rem