@import "../../variables"


.app-home
  margin-top: 2rem
  display: flex
  justify-content: center
  flex-direction: column
  align-items: stretch
.challenge-navigation
  margin-top: 1rem
  display: flex
  justify-content: center
  align-items: center
  gap: 1rem
  img
    transition: all .15s
    width: 50px
    &:hover, &:focus
      transform: scale(1.1)
      transition: all .15s

.challenges-cards
  display: flex
  justify-content: center
  align-items: stretch
  //gap: 1rem