$body-font: 'Inconsolata', monospace
$header-font: 'Pixelify Sans', sans-serif

$main-color: #69B578
$secondary-color: #6E7DAB
$dark-color: #32292F
$whitesmoke: whitesmoke
$light-color: #FEE1C7
$white: white
$text-color: #575366