@import "../../variables"

.challenges-page
  margin-top: 2rem

.challenges
  display: flex
  flex-direction: column
  gap: 2rem


.challenge
  background: $dark-color
  border-radius: 10px
  color: $light-color
.challenge-content
  text-align: center
  padding: 1rem
  max-height: 400px
  overflow-y: auto
.challenge-meta
  display: flex
  justify-content: center
  align-items: center
  background: $light-color
  color: $text-color