@import "../../variables"

.challenges-page
  margin-top: 2rem
  text-align: center

.challenges
  margin-top: 1rem
  display: flex
  flex-direction: column
  //gap: 1rem



.challenge-title
  font-size: 1.2rem
.challenge-meta-inner
  display: flex
  align-items: center
  gap: 1rem
.challenge
  //background: $dark-color
  //border-radius: 10px
  //color: $light-color
.challenge-content
  text-align: center
  padding: 1rem
  max-height: 400px
  overflow-y: auto
  border-radius: 0 0 10px 10px
  color: $light-color
  background: $dark-color
.challenge-meta
  border-radius: 10px
  display: flex
  justify-content: space-between
  align-items: center
  //background: $light-color
  color: $text-color
  gap: .5rem
  padding: .1rem

.challenge-meta-author-div
  text-align: center